$font-color: #005b68;
$light-color: #7dc3cb;
$font-danger: #f23d3d;
$background-color: #bbdddf;
$secondary-color: #adcacb;
$danger-color: #fed9db;
$white-color: #fff;
$accent-color: #ff8007;
$transition-animation: all 0.6s ease;

.pending {
	background-color: rgba($color: $secondary-color, $alpha: 1);
	& select {
		background-color: #dce6e6;
	}
}

.inProgress {
	background-color: #45c245;
	& select {
		background-color: #38e238;
	}
}

.done {
	background-color: #ffebd9;
	& select {
		background-color: #FFF4EA;
	}
}
