$font-color: #1D2D3E;
$font-danger: #f23d3d;
$background-color: #FAFAFA;
$secondary-color: #1C2A3B;
$danger-color: #fed9db;
$white-color: #fff;
$accent-color: #ffbf00;
$transition-animation: all .6s ease;