@import "./variables";

.user__set {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	.user__item {
		padding: 2rem;
		background-color: aqua;
	}
}

.user__section {
	width: 100%;
	display: flex;
	justify-content: space-around;
	.user__about {
		.title {
			margin-bottom: 1rem;
		}
		.subtitle {
		}
	}
}